<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner mb-3">
      <form action="/restaurants/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳或分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append me-2">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i>搜尋</button>
          </div>
          <div class="dropdown-center me-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              排序
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">A-Z</a></li>
              <li><a class="dropdown-item" href="#">Z-A</a></li>
              <li><a class="dropdown-item" href="#">地區</a></li>
            </ul>
          </div>
          <div class="text-end">
            <a href="/restaurants/new" class="btn btn-primary" role="button">新增餐廳</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3">
        {{#each restaurants}}
        <div>
          <div class="card mb-3">
            <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{this.category}}
              </div>

              <span class="badge rounded-pill text-bg-danger font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>

            </div>
            <div class="card-footer py-3 text-end">
              <a href="/restaurants/{{ this._id }}/edit" class="d-inline-block pe-3 text-decoration-none">Edit</a>
              <a href="/restaurants/{{ this._id }}" class="d-inline-block pe-3 text-decoration-none">Details</a>
              <form action="/restaurants/{{ this._id }}?_method=DELETE" method="POST" style="display: inline"><button
                  type="submit">Delete</button></form>
            </div>
          </div>

        </div>

        {{/each}}
      </div>
    </div>
  </div>
</div>